.DS_Store

#gradle
.gradle
build/
!gradle-wrapper.jar
out
dist

### STORAGE ###
data/user-*
data/system

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.swp

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.env
/data

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/docker/logs/
/docker/data/
**/audit.log

# during development you can safely create an application.yml but don't commit it!
/application.yml
/application.yaml
/application.properties
.Rproj.user
