armadillo:
  # default settings for new containers
  container:
    defaults:
      # type: 'ds' for DataSHIELD, 'vanilla' for generic docker container
      type: ds
      image: datashield/molgenis-rock-base:latest
      datashield:
        whitelist:
          - dsBase
          - dsTidyverse

  # set this false if you DON'T want Armadillo to create/edit/delete profile docker images via the user interface
  docker-management-enabled: true

  # set this true if you want Armadillo runs as a docker container
  # NOTE: this needs "docker-management-enabled" == false
  docker-run-in-container: false

  # when running the R containers from a docker-compose.yml they get prefixes based on the directory name of the
  # docker-compose.yml file ie armadillo-dev-" + containerName + "-1". Same goes for Armadillo ie armadillo-dev-armadillo-1"
  container-prefix: ''

  # uncomment this to configure an oidc user as admin user
  # oidc-admin-user: user@yourdomain.org

# required settings:
spring:
  security:
    user:
      # please change this admin password!
      password: admin
    ## uncomment oauth2 settings below to enable oidcgit
#    oauth2:
#      client:
#        provider:
#          molgenis:
#            issuer-uri: 'http://auth.molgenis.org'
#        registration:
#          molgenis:
#            client-id: '...'
#            client-secret: '...'
#      resourceserver:
#        jwt:
#          issuer-uri: 'http://auth.molgenis.org'
#        opaquetoken:
#          client-id: '...'

# optional settings (review spring handbook to find more):
  servlet:
    multipart:
      ## change this if your files are bigger
      max-file-size: 1000MB
      max-request-size: 1000MB

storage:
  ## to change location of the data storage
  root-dir: data

# Needed to reallocate and for download (defaults 'logs/audit.log')
#audit.log.path: logs/audit.log

# Needed to download ... this file is reallocated by OPS (defaults 'logs/armadillo.log')
#stdout.log.path: logs/armadillo.log

logging:
  level:
    ## change to DEBUG to have more details, typically when developing
    org.molgenis: INFO
