# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

#trigger only on master or PR to master
trigger:
  - master
pr:
  - master

steps:
  - script: |
      sudo update-alternatives --display java
    displayName: list available java versions (for debug purposes)
  - script: |
      export JAVA_HOME=/usr/lib/jvm/temurin-17-jdk-amd64/
      ./gradlew -version
      ./gradlew test jacocoMergedReport sonarqube -Dsonar.login=$(SONAR_TOKEN) -Dsonar.organization=molgenis -Dsonar.host.url=https://sonarcloud.io -Dorg.ajoberstar.grgit.auth.username=$(GITHUB_TOKEN) -Dorg.ajoberstar.grgit.auth.password
    displayName: run test, ensure we are using java 17 JAVA_HOME

    env:
      JVM_OPTS: -Xmx3200m
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
