# Default values for armadillo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1


config:
  armadillo:
    docker-management-enabled: false
    docker-run-in-container: true
    container-prefix: 'dev-'
    profiles:
      - name: default 
      #  image: datashield/rock-base:latest
      #  #host: rock-molgenis-rock.armadillo-rock.svc
      #  host: rock-molgenis-rock.armadillo-rock.svc
        image: datashield/rock-dolomite-xenon:latest
        host: xenon-molgenis-xenon.armadillo-xenon.svc
        port: 8085 
        package-whitelist:
          - dsBase
          - resourcer
        function-blacklist: [ ]
        options:
          datashield:
            # the seed can only be 9 digits
            seed: 342325352
      - name: xenon
        image: datashield/rock-dolomite-xenon:latest
        host: xenon-molgenis-xenon.armadillo-xenon.svc
        port: 8085
        package-whitelist:
          - dsBase
          - resourcer
          - dsMediation
          - dsMTLBase
          - dsSurvival
          - dsOmics
        function-blacklist: [ ]
        options:
          datashield:
            # the seed can only be 9 digits
            seed: 342325352

      - name: lemon-donkey 
        image: datashield/lemon-donkey:latest
        host: lemon-donkey-molgenis-lemon-donkey.svc.svc.cluster.local
        port: 8085
        package-whitelist:
          - dsBase
          - resourcer
          - dsMediation
          - dsMTLBase
          - dsSurvival
          - dsOmics
          - dsTidyverse
        function-blacklist: [ ]
        options:
          datashield:
            # the seed can only be 9 digits
            seed: 342325998

image:
  repository: "molgenis/molgenis-armadillo-snapshot"
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""


serviceAccount:
  # Specifies whether a service account should be created
  create: false 
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""


    # datashield:
    #   profiles:
    #     - name: default
    #       environment: default
    #       whitelist:
    #         - dsBase
    #       options:
    #         datashield:
    #           seed: #random-generated-9-digits-number#
    #   rserve:
    #     environments:
    #       - name: default
    #         host: service.namespace.svc
    #         port: 6311

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true 
  className: ""
  annotations: 
    kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: armadillo.dev.molgenis.org 
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: 
    - host: armadillo.dev.molgenis.org
      secretName: dev.molgenis.org
      

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

persistence:
  storageClass: ""
  existingClaim: ""
  enabled: true
  accessMode: ReadWriteOnce
  size: 800Mi
  # if you need any additional volumes, you can define them here
  additionalVolumes: []
  # if you need any additional volume mounts, you can define them here
  additionalMounts: []
