# Copy this file to `.env` to make use of it.

# Value of 'x' will trigger downloading test file
# This is actually the parent of the checkout dir without /molgenis-service-armadillo
GIT_CLONE_PATH=

# Path to test file directory (if not set and shared-lifecycle is not within the data directory, will create a "testing" folder in the data directory)
# The RDA test file will also be placed in this path
TEST_FILE_PATH=

# Do you want to manually test or automatic. Set to 'N' for non-interactive
INTERACTIVE=Y

PROFILE=xenon
ARMADILLO_URL=http://localhost:8080
ADMIN_PASSWORD=admin

OIDC_EMAIL=

# The token will invalidate probably in 1 hour so replace it or set to empty
TOKEN=
