# copy this file to ie "/etc/armadillo/acc.env"

export ARMADILLO_URL=http://localhost:8080
export ARMADILLO_ADMIN_USER=admin
export ARMADILLO_ADMIN_PASSWORD=admin

# Space separated values between double quotes. Leaving empty falls back to all profiles.
export ARMADILLO_PROFILES_AUTOSTART="default rock"