# copy to .env

# FIXME: We could / should test for admin user in overload config file instead?
# ARMADILLO_YML_FILE=

ARMADILLO_URL=http://localhost:8080
ARMADILLO_ADMIN_USER=admin
ARMADILLO_ADMIN_PASSWORD=admin

# Space separated values between double quotes. Leaving empty falls back to all profiles.
ARMADILLO_PROFILES_AUTOSTART="default rock"