[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minio = "7.2.5"
fusionauth-client = "*"
requests = "*"
simple-term-menu = "*"
pandas = "2.0.3"
numpy = "1.24.4"

[dev-packages]

[requires]
python_version = "3.8"
