datashield:
  whitelist:
    - dsBase
    - resourcer

springdoc:
  swagger-ui:
    enabled: false

spring:
  application:
    name: armadillo
  security:
    user:
      name: admin
      roles:
        - SU

management:
  endpoints:
    web:
      exposure:
        include: '*'

server:
  error:
    include-binding-errors: always
    include-message: always

logging:
  config: classpath:logback-dev.xml

---
spring:
  profiles: development
  security:
    user:
      password: admin
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: 'https://auth.molgenis.org'
        opaquetoken:
          client-id: 'b396233b-cdb2-449e-ac5c-a0d28b38f791'

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread|%.8X{sessionID}] %-5level %logger{36} - %msg%n"
  level:
    org.molgenis: DEBUG
    org:
      springframework:
        boot:
          actuate:
            audit:
              listener:
                AuditListener: DEBUG
          web:
            context: DEBUG

minio:
  url: http://localhost
  port: 9000
  access-key: molgenis
  secret-key: molgenis

