armadillo:
  # set this to 'true' if you want to accept permissions from oidc provider
  oidc-permission-enabled: false

  # set this true if you want Armadillo to create/edit/delete container docker images
  docker-management-enabled: true

  # set this true if you want Armadillo runs as a docker container
  # NOTE: this needs "docker-management-enabled" == false
  docker-run-in-container: false

  # when running the R containers from a docker-compose.yml they get prefixes based on the directory name of the
  # docker-compose.yml file ie armadillo-dev-" + profileName + "-1". Same goes for Armadillo ie armadillo-dev-armadillo-1"
  container-prefix: ''


  # uncomment this to configure a default admin user
  # oidc-admin-user: user@yourdomain.org

  profiles:
    - name: default
      image: datashield/rock-base:latest
      port: 6311
      package-whitelist:
        - dsBase
      function-blacklist: [ ]
      options:
        datashield:
          # the seed can only be 9 digits
          seed: 342325352
          # foo: bar

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    enabled: true
    path: /v3/api-docs
    operationsSorter: alpha
    csrf:
      enabled: true

spring:
  servlet:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB
  application:
    name: armadillo
  security:
    user:
      name: admin
      password: admin
      roles:
        - SU

management:
  endpoints:
    web:
      exposure:
        include: '*'

server:
  forward-headers-strategy: framework
  error:
    include-binding-errors: always
    include-message: always

# Needed to reallocate and download
audit.log.path: 'logs/audit.log'

# Needed to download ... this file is reallocated by OPS
stdout.log.path: 'logs/armadillo.log'

storage:
  root-dir: data

logging:
  config: classpath:logback-file.xml
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread|%.8X{sessionID}] %-5level %logger{36} - %msg%n"
  level:
    org.molgenis: INFO
    org:
      springframework:
        boot:
          actuate:
            audit:
              listener:
                AuditListener: INFO
