/*Apply MOLGENIS Styleguide to docs theme*/
/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

/* Container for main text*/
body > div.md-container > main > div > div.md-content {
    background-color: rgb(255, 255, 255);
}

/* Left menu colours*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar--primary{
    color: #fafafa;
    background-color: #017FFD;
}

/* Selected item left menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar > div > div > nav > ul > li.md-nav__item.md-nav__item--active > a {
    border: transparent;
    color: #fafafa;
    border-left-color: #005EC4;
    border-left-style: solid;
    border-left-width: 5px;
    font-weight: 700;
}

/* Padding for selected items in menus */
body > div.md-container > main > div > div.md-sidebar.md-sidebar > div > div > nav > ul > li.md-nav__item.md-nav__item--active > a > span,
body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary > div > div > nav > ul > li > a.md-nav__link--active > span,
body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary > div > div > nav > ul > li > nav > ul > li > a.md-nav__link--active > span{
    padding-left: 0.5em;
}

/* Label in menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar > div > div > nav > label {
    background-color: inherit;
    box-shadow: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
    line-height: normal;
}

/* Text colour of title in left menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar--primary > div > div > nav > label {
    color: #fafafa;
}

/* Text colour of title in right menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary > div > div > nav > label {
    color: #fafafa;
}
/* Styling right menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary {
    background-color: #017FFD;
    color: #fafafa;
}

/* Set active styling for right menu */
body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary > div > div > nav > ul > li > a.md-nav__link--active,
body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary > div > div > nav > ul > li > nav > ul > li > a.md-nav__link--active {
    color: #D4ECFF;
    border-left-color: #D4ECFF;
    border-left-style: solid;
    border-left-width: 5px;
    font-weight: 700;
}

/* Menu styling */
.md-sidebar {
    padding: 0.8rem;
    height: 100%;
}

/*Set font for all text*/
body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}
/*Set font and sizes for headings*/
.md-typeset h1, h2, h3, h4 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #017FFD;
}

.md-typeset  h1 {
    font-size: 82px;
    border-top-color: #017FFD;
    border-top-style: solid;
    border-top-width: 5px;
    padding-top: 0.5em;
    margin-bottom: 0;
}

.md-typeset h2 {
    font-size: 64px;
    margin: 0;
}

.md-typeset h3 {
    font-size: 32px;
    margin: 0;
}

.md-typeset h4 {
    font-size: 24px;
    margin: 0;
}

.md-typeset h5 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.md-typeset h6 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

/*Style blockquote as in styleguide*/
.md-typeset blockquote  {
    color: #353535;
    font-size: 20px;
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 300;
    font-style: italic;
    width: 80%;
    margin-left: 10%;
    padding: 1rem;
    background-color: #D4ECFF;
    border-left-color: #353535;
}
[dir=ltr] .md-typeset blockquote {
    border-left-color: #005EC4;
}

/*Style code blocks*/
.rst-content pre code {
    font-size: 16px;
}
.rst-content code {
    font-family: "IBM Plex Mono", sans-serif;
}

/* Top navbar*/
body > header.md-header {
    background-color: #353535;
}

.md-header__button.md-logo img {
    height: 2.5em;
}

.md-typeset a {
    color: #017FFD;
}

.md-main__inner {
    max-width: 100%;
}

.md-grid {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* Top navbar*/
body > header.md-header {
    background-color: #353535;
    /* this is a negative margin because if we set the top one to be 0, the right navbar stops
    working properly with active links*/
    margin-bottom: -1.5rem;
}

.intro {
    font-size: 18px;
    font-family: "IBM Plex Mono", sans-serif;
    background-color: #017FFD!important;
    color: #fafafa!important;
    font-weight: bold;
    padding: 2rem 3rem 3rem 2rem;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    margin-top: -1.2rem;
}

.before-intro {
    color: #017FFD;
    padding: 2.2rem;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    margin-top: -2.5rem;
    background-color: #017FFD!important;
}

h1.intro {
    font-weight: 300;
    background-color: #017FFD!important;
    color: #fafafa!important;
    border-color: #FAFAFA;
    margin: -1.2rem;
    padding-bottom: 1rem;
}

.md-typeset img[align]:only-child.armadillo-intro-logo {
    margin-top: 3rem;
    max-width: 35%;
}

.md-typeset h3.armadillo-question {
    color: #353535;
    margin-top: 2.5rem;
    margin-left: 10%;
}

.blue-line {
    color: white;
    border-bottom-color: #017FFD;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.md-typeset .tabbed-labels>label {
    font-size: 0.8rem;
}