/*Apply MOLGENIS Styleguide to docs theme*/
/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

/*Background image from: */
body > div.md-container > main {
    /*Photo by energepic.com: https://www.pexels.com/photo/close-up-photo-of-monitor-159888/*/
    background-image: url("../img/pexels-energepic-com-27411-159888.jpg");
    background-size: auto;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Container for main text*/
body > div.md-container > main > div {
    background-color: rgba(255, 255, 255, 0.85);
}

/* Left menu colours*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar--primary{
    background-color:  #353535;
    color: #fafafa;
}

/* Selected item left menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar > div > div > nav > ul > li.md-nav__item.md-nav__item--active > a {
    border: transparent;
    background-color: #353535;
    color: #fafafa;
    border-left-color: #017FFD;
    border-left-style: solid;
    border-left-width: 4.5px;
    font-weight: 700;
}

/* Padding left to of selected text in left menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar > div > div > nav > ul > li.md-nav__item.md-nav__item--active > a > span {
    padding-left: 0.5em;
}

/* Label in menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar > div > div > nav > label {
    background-color: inherit;
    box-shadow: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
    line-height: normal;
}

/* Text colour of title in left menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar--primary > div > div > nav > label {
    color: #fafafa;
}

/* Text colour of title in right menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary > div > div > nav > label {
    /*color: #353535;*/
    color: #fafafa;
}
/* Styling right menu*/
body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary {
    /*background-color: #d4ecff;*/
    /*color: #353535;*/
    background-color: #005EC4;
    color: #fafafa;
}

body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary > div > div > nav > ul > li,
body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary > div > div > nav > ul > li > a{
    color: #FAFAFA;
}

/* Menu styling */
.md-sidebar {
    padding: 0.8rem;
    height: 100%;
}

/* Move text up so it touches top navbar*/
.md-main__inner {
    margin-top: 0;
}

/*Set font for all text*/
body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}
    /*Set font and sizes for headings*/
.md-typeset h1, h2, h3, h4 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.md-typeset  h1 {
    color: black;
    font-size: 82px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 4.5px;
    margin-bottom: 0.5em;
}

.md-typeset h2 {
    font-size: 64px;
    margin: 0;
}

.md-typeset h3 {
    font-size: 32px;
    margin: 0;
}

.md-typeset h4 {
    font-size: 24px;
    margin: 0;
}

.md-typeset h5 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.md-typeset h6 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

/*Style blockquote as in styleguide*/
blockquote {
    font-size: 26px;
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 300;
    font-style: italic;
}

/*Style code blocks*/
.rst-content pre code {
    font-size: 16px;
}
.rst-content code {
    font-family: "IBM Plex Mono", sans-serif;
}

/* Top navbar*/
body > header.md-header {
    background-color: #017FFD;
}

.md-header__button.md-logo img {
    height: 2.5em;
}

.md-typeset a {
    color: #017FFD;
}