[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minio = "*"
fusionauth-client = "*"
requests = "*"
simple-term-menu = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
